* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App.js */
.container-main {
    background: url(../img/Main-Background.jpeg);
    background-repeat: repeat-x;
    background-color: rgb(102, 204, 0);
}

.child {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}

/* Banner.js */
.main-banner {
    width: 100%;
    display: block;
}

/* MsgText.js */
.scroll-mrq {
    background: linear-gradient(black, rgb(141, 254, 19) 18%, green);
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
}

.scroll-text {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
    white-space: nowrap;
    padding-left: 100%;
    color: white;
    font-size: 1.2rem;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* NavigationMenu.js */
.navigation-menu {
    height: 35px;
    background: linear-gradient(rgb(211, 208, 208), rgb(187, 187, 187));    vertical-align: middle;
    text-align: center;
    color: rgb(4, 86, 11);
}

a.items {
    text-decoration: none;
    color: rgb(8, 64, 12);
    font-family: trebuchet ms;
    font-size: 14px;
    transition: all 0.5s;
}

a.items:hover {
    text-decoration: none;
    color: rgb(126, 56, 9);
}

/* Home.js */
.mainheading {
    color: rgb(189, 30, 30);
    font-size: 24px;
    font-family: trebuchet ms;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 2px solid rgb(189, 30, 30);
    margin: 0 10px 0 10px;
}

.data-area {
    margin: 10px 10px 0 10px;
    font-family: arial;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

img.zoo-gate{
    width: 40%;
    border-radius: 10px;
    border:2px solid gray;
    float: left;
    margin-right: 10px;
}

/* NewsAndUpdate.js */
